#ignore build compilation
builddir/
build/
out/
#ignore vscode
.vscode/*
## but add launch and tasks
!.vscode/launch.json
!.vscode/tasks.json
#ignore visual studio files
.vs/
CMakeSettings.json
#ignore clangd files
.clangd/
.cache/
#ignore compile_commands.json
compile_commands.json